@import "tailwindcss";
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@theme {
  --background-image-g_btn: linear-gradient(to right, #ff6f00, #e61203);
  --color-hover-light: #e9e9e9;
  --color-hover-medium: #8a8a8a;
  --color-hover-daker: #888888;

  --color-hover-bth: #e61203;
  --color-bg_brown: #843f3f;
  --color-secondary: #000000;
  --color-primary: #2d2d2d;
  --color-heavy: #434343;
  --color-whiter: #f0f0f0;
  --color-input-field: #e2e2e2;
  --color-red-light: #ffb7b7;
  --color-red-lighter: #f9dbdb;
  --color-red-dark: #810000;
  --color-red: #ff0800;

  --color-blue: #0000ff;
  --color-darkBlue: #000080;
  --color-blue-hover: rgba(0, 0, 255, 0.2);
  --color-blueBackground: rgba(0, 0, 255, 0.3);
  --color-blueBackground-hover: rgba(0, 0, 255, 0.6);

  --color-icon-seconday: #000000;
  --color-icon-primary: #404040;

  --shadow-heavy:
    4px 4px 12px 4px rgba(252, 101, 0, 0.4), 4px 4px 12px 4px #ffffff;
  --shadow-light: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 12px 4px #ffffff;
  --shadow-red_light: 0 4px 8px 0 rgba(255, 8, 0, 0.5);
  --shadow-lighter: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-inner-lighter: inset 0 4px 8px 2px rgba(0, 0, 0, 0.1);

  /* Card Styles */
  --background-image-blueGradient: linear-gradient(to bottom, #592bff, #001d87);
  --background-image-greenGradient: linear-gradient(
    to bottom,
    #7fda00,
    #3d8700
  );

  --background-image-grayGradient: linear-gradient(to bottom, #868686, #505050);
  --background-image-g_red: linear-gradient(to bottom, #f83200, #a41000);
  --background-image-goldGradient: linear-gradient(to bottom, #ffc107, #dd6b20);
  --color-md_white: rgba(255, 255, 255, 0.5);

  --color-Darkgold: #dd6b20;
  --color-gold_lighter: #eaccb9;
  --color-Darkgold-hover: #b8591a;
  --color-highLightBorder: #ff6964;
  --color-highlightBackground: #fffaca;

  --color-text_green: #1b8917;
  --color-light_green: rgba(27, 137, 23, 0.4);

  --color-b_cream: #f4f4f4;
  --color-input_cream: #f6f3f3;
  --color-text_b: #000000;
  --color-text_l_b: #2a2a2a;

  --color-nevy_blue: #5629dc;
  --color-b_light_blue: #ccbbff;
  --color-d_blue: #2f1cc1;
  --color-text_white: #ffffff;
  --color-b_white: #fff;
  --color-light_black: rgba(0, 0, 0, 0.2);
  --color-border1: #cfaaaa;

  --font-inter: "Inter";
  --font-asap: "Asap";
  --font-heading: "Abhaya Libre Medium";
  --font-afacad: "afacad";

  --radius-small: 8px;
  --radius-extra_small: 4px;
  --radius-large: 16px;

  --color-lighter: #e2e2e2;
  --color-light: #888888;
  --color-b: #f6f6f6;

  --text-standard: 12px;
  --text-t_lage: 16px;
  --background-image-g_light_blue: linear-gradient(to bottom, #ffecec, #a0b7ff);
}
